<div
  class="blank-layout-container justify-content-center align-items-center bg-light-primary"
>
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div
            class="text-center d-flex justify-content-center align-items-center"
          >
            <img src="./assets/images/logos/books.png" class="m-2" alt="logo" />
            <span
              class="align-middle m-l-10"
              style="
                color: #2a3547;
                font-weight: bold;
                font-size: 1.625em;
                line-height: 1.375em;
              "
              >Gestion de bibliothèque</span
            >
          </div>

          <form class="m-t-30" (ngSubmit)="onLogin()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Nom d'utilisateur</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="username" [(ngModel)]="username" />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Mot de passe</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                type="password"
                name="password"
                [(ngModel)]="password"
              />
            </mat-form-field>

            <!-- <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Forgot Password ?</a
              >
            </div> -->
            <!-- <a
              [routerLink]="['/']"
              mat-flat-button
              color="primary"
              class="w-100"
              type="submit"
            >
              Se connecter
            </a> -->
            <button mat-flat-button color="primary" type="submit" class="w-100">
              Se connecter
            </button>
            <!-- input -->
          </form>
          <!-- <span class="d-block f-w-500 text-center m-t-24"
            >New to Modernize?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Create an account</a
            >
          </span> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
